@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
body {
  background: #faf7f2;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  z-index: -10;
}
.wrap {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-top: 80px;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.recipe-card {
  background: #fff;
  width: 90%;
  max-width: 496px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 2px #000;
}
aside {
  position: relative;
}
.cardImage {
  border-radius: 5px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}
article {
  padding: 1.25em 1.5em;
}
ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}
li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}
.icon {
  vertical-align: bottom;
  display: inline;
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
  background-repeat: no-repeat;
}
.icon-calories,
.icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}
.icon-clock,
.icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}
.icon-level,
.icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}
.icon-users,
.icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}
span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689;
}
.title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  color: #222222;
}
.mealtype {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0;
  text-transform: uppercase;
}
span {
  font-weight: 700;
  color: #000000;
}
.header {
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
}
.button {
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 10px;
  transition: 250ms;
  width: 100%;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset;
}
.button:hover {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  transition: 250ms;
}
.listContainer {
  padding: 20px;
}
.ingredients {
  margin: 2em 0 0.5em;
}
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
}
.listItem {
  font-size: 0.8em;
  font-weight: 300;
  color: #838689;
}
.list > * {
  background: antiquewhite;
  padding: 0.5rem;
}
.list > :nth-of-type(2n) {
  background: lavenderblush;
}
.paragraph {
  text-align: center;
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.form {
  width: 47%;
  height: 90%;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  background-color: aliceblue;
}
.modalHeader {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  border-bottom: rgb(63, 62, 63);
}
.closeButton {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: rgb(63, 62, 63);
  font-size: 36px;
}
.closeButton:hover {
  color: #000;
}
.footer {
  margin-top: 40px;
}
.outer {
  position: relative;
  left: 80%;
  top: 20px;
  width: 30px;
  cursor: pointer;
}
.inner {
  width: inherit;
  text-align: center;
}
label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: rgb(63, 62, 63);
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}
.inner:before,
.inner:after {
  position: absolute;
  content: "";
  height: 1px;
  width: inherit;
  background: rgb(10, 10, 10);
  left: 0;
  transition: all 0.3s ease-in;
}
.inner:before {
  top: 50%;
  transform: rotate(45deg);
}
.inner:after {
  bottom: 50%;
  transform: rotate(-45deg);
}
.outer:hover label {
  opacity: 1;
}
.outer:hover .inner:before,
.outer:hover .inner:after {
  transform: rotate(0);
}
.outer:hover .inner:before {
  top: 0;
}
.outer:hover .inner:after {
  bottom: 0;
}

.modalButton {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0 0 0 20px;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.modalButton:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}
.modalButton:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}
.modalButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.modalButton:disabled:active {
  pointer-events: none;
}
.modalButton:disabled:hover {
  box-shadow: none;
}

@media screen and (max-width: 900px) {
  .form {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    background-color: aliceblue;
  }
  .ingredients {
    margin-top: 1em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
  }
  .listContainer {
    padding: 10px;
  }
  .list > * {
    background: antiquewhite;
    padding: 0.3rem;
  }
  .list {
    padding-left: 0;
    margin-left: 0;
  }
}
